# Ignore node_modules in both frontend and backend folders
**/node_modules

# Ignore environment-specific files (for backend)
backend/.env

# Ignore compiled output and logs
build/
dist/
log/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE and text editor configuration files
.idea
.vscode

# Ignore operating system and temporary files
.DS_Store
Thumbs.db
desktop.ini
*.swp

# Ignore package-lock files
package-lock.json
yarn.lock